h1{
    
}
h2{
    
}
body{
    background-image: linear-gradient(to left, #8C8C8C, #737373, #595959);
    background-size: cover;
    font-family:monospace;
    font-size: large;
    
}
*{
    

}
img{
    
}
